/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face */
@font-face {
	font-family: 'Lucida Grande';
	src: local("Lucida Grande"), url("LucidaGrande.ttc");
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* BODY */

	:root {



		/* body */
		--color-background: black;

		/* header */
		--header-color-logo-footer: white;
		--header-color-logo: black;
		--header-color-input-border: white;
		--header-special-prices: red;

		/* main */
		--main-color-text: white;
		--main-lichte-text: #909090;
		--main-wit-text: black;
		--main-shadow-color: white;
		
		/* footer */
		--text-footer: white;
		--taal-header-background: white;
		--taal-header-button: black;
		
		
		/* hover */
		--hover-iconen: #C2C2C2;
		
	}

	@media (prefers-color-scheme:dark) {
		:root:not(.darkMode) {

		/* body */
		--color-background: white;

		/* header */
		--header-color-logo-footer: black;
		--header-color-logo: white;
		--header-color-input-border: black;
		--header-special-prices: red;

		/* main */
		--main-color-text: #111;
		--main-lichte-text: #909090;
		--main-wit-text: white;
		--main-shadow-color: black;
		
		/* footer */
		--text-footer: #1E1E1E;
		--taal-header-background: black;
		--taal-header-button: white;
		
		
		/* hover */
		--hover-iconen: #C2C2C2;
		}
	}


body {
	margin: 0;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

button:focus {
	border: .3em solid var(--header-special-prices);
}

/* HEADER */

header {
	display: flex;
	align-items: center;
	gap: 0em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 1em 0 .2em;
}


/* headerlogo */
header h1 svg {
	display: flex;
	justify-content: left;
	width: 5em;
}


/* header nav */
header section:nth-of-type(1) nav {
	display: flex;
	align-items: center;
	gap: 1em;
}


/* header navigatie iconen */
header section:nth-of-type(1) nav svg {
	width: 1em;
}

header section:nth-of-type(1) {
	margin-left: auto;
}

header section:nth-of-type(1) nav a {
	text-decoration: none;
	color: var(--header-color-logo-footer);
}

header section:nth-of-type(1) nav button {
	background-color: transparent;
	border: none;
}

header section:nth-of-type(1) nav button:hover,
footer section:nth-of-type(5) button:hover {
	cursor: pointer;
}


/* header kleuren */
header h1 svg,
header nav:nth-of-type(2) svg,
header svg {
	fill: var(--header-color-logo);
}

header section:nth-of-type(1) nav a svg {
	stroke: var(--header-color-logo);
}

header section:nth-of-type(1) nav button:nth-of-type(2) svg {
	stroke: var(--header-color-logo);
}

/* zoek nav menu */
header section:nth-of-type(2) nav {
	position: fixed;
	inset: 0;
	background-color: var(--color-background);
	translate: 0 -100%;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-y: auto;
	transition: .5s;
	z-index: 10;
}

header section:nth-of-type(2) nav.open {
	translate: 0 0%;
}


/* zoek nav menu input */
header section:nth-of-type(2) nav {
	font-family: 'Lucida Grande', sans-serif;
	color: var(--header-color-logo-footer);
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: .5em;
}

header form input {
	outline: 0;
	border-width: 0 0 .1em;
	width: 18em;
	border-color: var(--header-color-input-border);
	text-transform: uppercase;
	font-size: 2.2em;
	background-color: var(--header-color-logo);
}


/* zoek nav menu sluit button */
header section:nth-of-type(2) button svg {
	stroke: var(--header-color-logo-footer);
	width: 1em;
	cursor: pointer;
}

header section:nth-of-type(2) button:hover svg {
	stroke: var(--hover-iconen);
}

header section:nth-of-type(2) button {
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: none;
}


/* zoek nav menu input en sluitbutton */
header section:nth-of-type(2) section:nth-of-type(1) {
	display: flex;
	justify-content: center;
	padding-top: 5em;
}


/* zoek nav menu h2 */
header section:nth-of-type(2) h2 {
	margin: 0;
	padding: 2em 0 0 1.5em;
}


/* zoek nav menu foto's */
header section:nth-of-type(2) section:nth-of-type(2).zoekfotos>ul li a img {
	width: 30em;
}

header section:nth-of-type(2) section:nth-of-type(2).zoekfotos>ul {
	margin: 0;
	padding: 2em 2em 0 2em;
	display: flex;
	list-style: none;
	overflow: auto;
	scroll-snap-type: inline mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	gap: 2em;
}

header section:nth-of-type(2) section:nth-of-type(2).zoekfotos>ul li a p {
	font-size: 1.3em;
}

header section:nth-of-type(2) section:nth-of-type(2).zoekfotos>ul li a {
	text-decoration: none;
}

header section:nth-of-type(2) section:nth-of-type(2).zoekfotos>ul li a:visited {
	color: var(--header-color-logo-footer);
}

header section:nth-of-type(2) section:nth-of-type(2).zoekfotos>ul li a:hover {
	color: var(--hover-iconen);
}


/* account nav menu */
header section:nth-of-type(3) nav {
	position: fixed;
	inset: 0;
	background-color: var(--color-background);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80%;
	overflow-y: auto;
	/* background-color: var(--color-background); */
	transition: .5s;
	scale: 0;
	top: 10%;
	pointer-events: none;
	z-index: 10;
}

header section:nth-of-type(3) nav.open {
	scale: 1;
	pointer-events: all;
}


/* account nav menu h2 en sluitbutton */
header section:nth-of-type(3) section:nth-of-type(1) {
	display: flex;
	justify-content: space-around;
	margin-top: 2em;
}


/* account nav menu h2 */
header section:nth-of-type(3) section:nth-of-type(1) h2 {
	font-family: 'Lucida Grande', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: var(--header-color-logo-footer);
}


/* account nav menu sluitbutton */
header section:nth-of-type(3) section:nth-of-type(1) button {
	margin: 0;
	padding: .5em;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

header section:nth-of-type(3) section:nth-of-type(1) button svg {
	stroke: var(--header-color-logo-footer);
}


header section:nth-of-type(3) section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	margin: 1em;
}

/* account nav menu tekst */
header section:nth-of-type(3) nav section:nth-of-type(2)>p,
header section:nth-of-type(3) nav section:nth-of-type(2)>a,
header section:nth-of-type(3) nav section:nth-of-type(2)>h2 {
	font-family: 'Lucida Grande', sans-serif;
	font-size: 1em;
	color: var(--header-color-logo-footer);
	padding: 0 .5em;
	text-decoration: none;
}

header section:nth-of-type(3) nav section:nth-of-type(2)>a,
header section:nth-of-type(3) nav section:nth-of-type(2)>h2 {
	margin: .5em 0;
}

header section:nth-of-type(3) nav section:nth-of-type(2)>p a {
	color: var(--header-color-logo-footer);
}

header section:nth-of-type(3) nav section:nth-of-type(2)>p a:hover {
	cursor: pointer;
}


/* account nav input */
header section:nth-of-type(3) nav section:nth-of-type(2) form:nth-of-type(2) {
	padding-top: 2em;
}

header section:nth-of-type(3) nav section:nth-of-type(2) label {
	position: relative;
	flex-grow: 1;
}

header section:nth-of-type(3) nav section:nth-of-type(2) label input {
	outline: 0;
	border-width: 0 0 .05em;

	width: 80%;

	border-color: var(--header-color-input-border);

}

header section:nth-of-type(3) nav section:nth-of-type(2) label span {
	position: absolute;
	left: 0;
	font-family: 'Lucida Grande', sans-serif;
	transition: .3s;
	pointer-events: none;
	color: var(--header-color-logo-footer);
}

header section:nth-of-type(3) nav section:nth-of-type(2) label input:focus+span,
header section:nth-of-type(3) nav section:nth-of-type(2) label input:not(:placeholder-shown)+span {
	translate: 0 -1em;
}


/* account nav inloggenbutton */
header section:nth-of-type(3) nav section:nth-of-type(2)>button {
	color: var(--header-color-logo-footer);
	background-color: var(--color-background);
	border: .5em var(--header-color-logo-footer);
	margin-top: .5em;
	padding: 1em;
	cursor: pointer;
	border: .1em solid var(--header-color-input-border);
	border-radius: 0;
	font-size: 1em;
	text-transform: uppercase;

}

header section:nth-of-type(3) nav section:nth-of-type(2)>button:hover {
	background-color: var(--header-color-input-border);
	color: var(--color-background);
	border: .5em var(--color-background);
	transition: .5s;
}



/* BRONNEN */

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/email */
/* https://stackoverflow.com/questions/37465458/input-text-field-with-only-bottom-border */
